<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<script src="https://kit.fontawesome.com/535f28fd53.js" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="../CSS/Index.css" type="text/css">
	<!-- import font chữ từ gg font  use:font-family: 'Dancing Script', cursive; -->
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap" rel="stylesheet">
	
	<script src="../JS/jquery-3.4.1.js"></script>
	<script src="../JS/jquery.easing.1.3.js"></script>
	<script  src="../JS/Index.js"></script>


</head>
<body>
	<div class="wrapper">
		<!-- Header -->
		<div class="header">
			<div class="header-content" >
				
				<div class="logo"><i class="fab fa-teamspeak"></i></div>


				<div class="select-box">
					<input title="Nhập nội dung tìm kiếm ở đây
				" placeholder="   Tìm kiếm" 
				 type="text" name=""  id="SelectInput" 
				 >
				 	<i class="fas fa-keyboard keyb"></i></div>



				<div><button id="iconTimKiem" title="Tìm kiếm"><i class="fas fa-hand-middle-finger"></i></button></div>
			

		</div>
			<div class="action-box">
				<div class="list-box">
					<div class="icon-act-box"><i class="fas fa-video"></i></div>
					<div class="icon-act-box"><i class="fab fa-buromobelexperte"></i></div>
					<div class="icon-act-box"><i class="fas fa-bell"></i>
						<p class="notification-count">1</p></div>
				</div>
				<div class="avatar-box">
					<img src="../IMAGE/cat001.jpg"  width="30px"  alt="meow" >
				</div>

			</div>
			
		</div>	
			
		<!-- Container -->
		<div class="container">
		<!-- 	Left-Menu -->
			<div class="menu">
				<div class="list-menu-item">
					<h3 class="label-menu"><i class="fas fa-tachometer-alt"></i>Dashboard	</h3>
					<div class="item-menu">
					

					</div>
					<h3 class="label-menu"><i class="fas fa-cogs"></i>System</h3>
					<div class="item-menu"></div>

					<h3 class="label-menu"><i class="fas fa-user-tie"></i>User</h3>
					<div class="item-menu"></div>
					<h3 class="label-menu"><i class="fas fa-user-graduate"></i>Student<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item" href="">Tìm hồ sơ sinh viên</a>
						<a class="x-item" href="">Thêm sinh viên </a>
						<a class="x-item" href="">Danh sách trường</a>
						<a class="x-item" href="">Danh sách là lại thẻ</a>
						<a class="end-item" href="">Download DSSV</a>
					</div>

					<h3 class="label-menu"><i class="fas fa-home"></i>House / Room<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item" href="">Sơ đồ khu</a>
						<a class="end-item" href="">Loại phòng</a>
					</div>
					<h3 class="label-menu"><i class="far fa-edit"></i>Rent<i class=" nthyyyy fas fa-angle-down"></i> <i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item" href="">Xếp phòng</a>
						<a class="x-item" href="">Chụp hình</a>
						<a class="x-item" href="">Import DSSV ảo</a>
						<a class="x-item"  href="">Dồn phòng</a>
						<a  class="end-item" href="">Lịch sử</a>
						
					</div>
					<h3 class="label-menu"><i class="fas fa-file-invoice"></i>Invoice - fee<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item"  href="">Thu phí</a>
						<a class="x-item"  href="">DS hóa đơn lệ phí</a>
						<a  class="x-item" href="">Danh mục lệ phí </a>
						<a  class="end-item" href="">Thiết lập học kỳ</a>

					</div>
					<h3 class="label-menu"><i class="fas fa-file-invoice"></i>Electric and Water bill<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item"  href="">Danh sách hóa đơn</a>
						<a  class="end-item" href="">Danh sách hóa đơn còn nợ</a>
						
					</div>
					<h3 class="label-menu"><i class="fas fa-file-invoice"></i>Refund Fee</h3>
					<div class="item-menu"></div>
					<h3 class="label-menu"><i class="fas fa-cubes"></i>Metarial management<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a class="x-item" href="">Danh sách vật tư</a>
						<a class="x-item" href="">Danh sách vật tư cần sử lý </a>
						<a class="end-item" href="">Thêm mới vật tư</a>
					</div>
					<h3 class="label-menu"><i class="fas fa-tools"></i>Fix request<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a  class="x-item" href="">Danh sách Y/C sửa chữa </a>
						<a class="x-item"  href="">Gửi Y/C sửa chữa</a>
						<a  class="end-item" href="">DS sinh viên báo sửa chữa</a>
					</div>
					<h3 class="label-menu"><i class="fas fa-fire-alt"></i>Laundry management<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></h3>
					<div class="item-menu">
						<a  class="x-item" href="">Phiếu giặt đồ</a>
						<a class="x-item"  href="">Nhận đồ</a>
						<a class="x-item"  href="">Trả đồ</a>
						<a  class="x-item" href="">Quản lý vật tư</a>
						<a class="end-item"  href="">Thống kê SL giặt ủi</a>
					</div>
					<h3 class="label-menu"><i class="fas fa-heartbeat"></i>Medical management</h3>
					<div class="item-menu">
						

					</div>
					<h3 class="label-menu"><i class="fas fa-chart-line"></i>Report and Statistic</h3>
					<div class="item-menu"></div>

				</div>
				
				<div class="designTeam">Design Team : Duy - Tuấn - Yên</div>
			</div>
			<div class="content">
				<div class="dir"></div>
				<div class="main_content"></div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</body>
</html>