

<div class="menu-KTX">
    <div class="list-menu-item">
        <span class="label-menu"><i class="fas fa-tachometer-alt"></i>Dashboard	</span>
        <div class="item-menu">


        </div>
        <span class="label-menu"><i class="fas fa-cogs"></i>System</span>
        <div class="item-menu"></div>

        <span class="label-menu"><i class="fas fa-user-tie"></i>User</span>
        <div class="item-menu">
            <a href="/Admin/User/Index" class="x-item">Danh sách người dùng </a>
            <a href="/Admin/User/Create" class="end-item">Thêm người dùng</a>
        </div>
        <span class="label-menu"><i class="fas fa-user-graduate"></i>Student<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Tìm hồ sơ sinh viên</a>
            <a class="x-item" href="">Thêm sinh viên </a>
            <a class="x-item" href="">Danh sách trường</a>
            <a class="x-item" href="">Danh sách là lại thẻ</a>
            <a class="end-item" href="">Download DSSV</a>
        </div>

        <span class="label-menu"><i class="fas fa-home"></i>House / Room<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Sơ đồ khu</a>
            <a class="end-item" href="/Admin/Room/Index">Loại phòng</a>
        </div>
        <span class="label-menu"><i class="far fa-edit"></i>Rent<i class=" nthyyyy fas fa-angle-down"></i> <i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Xếp phòng</a>
            <a class="x-item" href="">Chụp hình</a>
            <a class="x-item" href="">Import DSSV ảo</a>
            <a class="x-item" href="">Dồn phòng</a>
            <a class="end-item" href="">Lịch sử</a>

        </div>
        <span class="label-menu"><i class="fas fa-file-invoice"></i>Invoice - fee<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Thu phí</a>
            <a class="x-item" href="">DS hóa đơn lệ phí</a>
            <a class="x-item" href="">Danh mục lệ phí </a>
            <a class="end-item" href="">Thiết lập học kỳ</a>

        </div>
        <span class="label-menu"><i class="fas fa-file-invoice"></i>Electric and Water bill<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Danh sách hóa đơn</a>
            <a class="end-item" href="">Danh sách hóa đơn còn nợ</a>

        </div>
        <span class="label-menu"><i class="fas fa-file-invoice"></i>Refund Fee</span>
        <div class="item-menu"></div>
        <span class="label-menu"><i class="fas fa-cubes"></i>Metarial management<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Danh sách vật tư</a>
            <a class="x-item" href="">Danh sách vật tư cần sử lý </a>
            <a class="end-item" href="">Thêm mới vật tư</a>
        </div>
        <span class="label-menu"><i class="fas fa-tools"></i>Fix request<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Danh sách Y/C sửa chữa </a>
            <a class="x-item" href="">Gửi Y/C sửa chữa</a>
            <a class="end-item" href="">DS sinh viên báo sửa chữa</a>
        </div>
        <span class="label-menu"><i class="fas fa-fire-alt"></i>Laundry management<i class=" nthyyyy fas fa-angle-down"></i><i class="nthxxxx fas fa-angle-left"></i></span>
        <div class="item-menu">
            <a class="x-item" href="">Phiếu giặt đồ</a>
            <a class="x-item" href="">Nhận đồ</a>
            <a class="x-item" href="">Trả đồ</a>
            <a class="x-item" href="">Quản lý vật tư</a>
            <a class="end-item" href="">Thống kê SL giặt ủi</a>
        </div>
        <span class="label-menu"><i class="fas fa-heartbeat"></i>Medical management</span>
        <div class="item-menu">


        </div>
        <span class="label-menu"><i class="fas fa-chart-line"></i>Report and Statistic</span>
        <div class="item-menu"></div>

    </div>

    <div class="designTeam">Design Team : Duy - Tuấn - Yên</div>
</div>

